<h1>Eat-Dat-Burger!</h1>

<ul>
  {{#each burgers}}
  {{#unless this.devoured}}
  <li>
    {{this.Burger_name}}
    <form action="/{{this.id}}?_method=PUT" method="POST">
      <input type="hidden" name="devoured" value="true">
      <button type="submit">devoured</button>
    </form>
  </li>
  {{/unless}}
  {{/each}}
</ul>

<h2>Add a burger</h2>
<form class="create-update-form" action="/" method="POST">
  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>
  <button type="submit">Submit</button>
</form>